.card
  = card_header :telescope, 'Comets'
  .card-body
    %table.datatable#comets{
      data: {
        page_length: 10,
        ajax: comets_path,
        server_side: 'true'
      }
    }
      %thead
        %tr
          - Comet.datatable_columns.each do |column, configuration|
            %th{ data: { name: column, m_data: column, orderable: configuration[:orderable]  } }= configuration[:header_text]
