.card
  = card_header :telescope, 'Asteroids'
  .card-body
    %table.datatable#asteroids{
        data: {
          page_length: 20,
          ajax: asteroids_path,
          server_side: 'true'
        }
      }
      %thead
        %tr
          - Asteroid.datatable_columns.each do |column, configuration|
            %th{ data: { name: column, m_data: column, orderable: configuration[:orderable]  } }= configuration[:header_text]
